body,html,.row-offcanvas,.cms-partial,#cms-container{
  height:100%;
}
body{
	background: #C3C2BE;
	padding: 100px 0 0 0;
    min-height: 100% !important;   
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
/* Custom page CSS for ngTable
-------------------------------------------------- */
.ng-table
{
    border-collapse: collapse; 
    background-color: white; 
    color: black; 
    font-family: 'Arial Regular', 'Arial'; 
    font-size: 13px; 
    font-style: normal;
    border-spacing: 5px;
}

.ng-table tr th, .ng-table tr td
{
    width: 370px; 
    padding: 3px 0px 3px 10px; 
    text-align: left !important;
}

.ng-table tr th
{
    padding: 10px;
}
/*Form css
---------------------------------------------------*/
.form-register-heading {
	color: #FFFFFF;
}

form#loginForm {
	margin: 0.5rem 0 0.5rem 0;
}

.form-control {
	padding-right: 4px !important;
}
/*Nav bar css
---------------------------------------------------*/
.navbar-nav {
  float:right;
}