<div class="col-xs-10 col-sm-6 col-md-3 col-lg-2 col-xs-offset-1 col-sm-offset-4 col-md-offset-4 col-lg-offset-5">
    <form id="loginForm" class="form-signin" method="post" role="form" ng-submit="login()">
        <h2 class="form-register-heading">Welcome</h2>
        <h3 class="form-register-heading">Please sign in.</h3>
        <input type="text" id="username" name="username" ng-model="user.username" class="form-control" placeholder="User Name" required>
        <input type="password" id="password" name="password" ng-model="user.password"  class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signIn">Sign in</button>
        <span style="color:red" ng-bind="message"></span>
    </form>
</div>